body {
  padding: 70px;
  padding-top: 40px;
  color: #e70808;
  background-color: rgba(250, 14, 191, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 70%;
  
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

select {
  width: 200px;
  height: 40px;
  text-align: center;
  margin-top: 35px;
}

.start_btn {
  width: 450px;
  height: 180px;
}
